{% props
    type = 'info',
    dismissible = false,
    important = false,
    title = '',
    icon = '',
    avatar = '',
    link = ''
%}

{% set alert = cva({
    base: 'alert',
    variants: {
        type: {
            primary: 'alert-primary',
            secondary: 'alert-secondary',
            success: 'alert-success',
            info: 'alert-info',
            warning: 'alert-warning',
            danger: 'alert-danger',
        },
        dismissible: {
            true: 'alert-dismissible',
        },
        important: {
            true: 'alert-important',
        },
        link: {
            true: 'alert-link',
        }
    },
    defaultVariants: {
        type: 'info',
    }
}) %}

{% set isLink = link is not empty %}
{% set tag = isLink ? 'a' : 'div' %}

<{{ tag }} {{ attributes }}
    class="{{ alert.apply({type, dismissible, important, link: isLink}, attributes.render('class')) }}"
    role="alert"
    {% if isLink %}href="{{ link }}"{% endif %}
>
    <div class="d-flex">
        {% if avatar is not empty %}
            <span class="avatar float-start me-3" style="background-image: url({{ avatar }})"></span>
        {% elseif icon is not empty %}
            <div class="alert-icon">
                {{ ux_icon(icon, {class: 'icon'}) }}
            </div>
        {% endif %}
        <div class="flex-fill">
            {% if title is not empty %}
                <h4 class="alert-title">{{ title }}</h4>
            {% endif %}

            <div {{ html_classes({
                'text-body-secondary': not important,
            }) }}>
                {% block content %}{% endblock %}
            </div>
        </div>

        {% if dismissible %}
            <a class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
        {% endif %}
    </div>
</{{ tag }}>
